<p id="notice"><%= notice %></p>

<%= week_calendar events: @events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.name %>
    </div>
  <% end %>
<% end %>


<%= link_to 'New Event', new_event_path %>
