<p id="notice"><%= notice %></p>

<%= month_calendar events: @events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= link_to event.name, event %>
    </div>
  <% end %>
<% end %>


<%= link_to 'New Event', new_event_path %>
